body {
    background-color: #45BB9F;
    font-weight: lighter;
    color: white;
    margin-left: 2rem;
}
#button {
    background-color: #3937BB;
    color: white;
    font-size: 18px;
    padding: 5px;
}